{% extends "base_admin.html" %}

{% load filter_skill %}

{% block title %}Chunks{% endblock %}

{% block active_create_chunk %}active{% endblock %}

{% block add_content %}
    <div class="ui bottom attached segment">
        <p>
            <table class="ui large collapsing celled table" style="text-align:right; padding: 40px; margin: auto; margin-top: 60px; margin-bottom: 160px; background-color: rgba(243, 244, 245)" >
                <col width="200">
                <col width="80">
                <thead>
                    <tr>
                        <th> <h4>
                            زمان شروع
                        </h4></th>

                       <th> <h4>
                            زمان پایان
                       </h4></th>

{#                        <th>گزینه‌ها</th>#}

                    </tr>
                </thead>

                <tbody>
                    {% for chunk in Chunks.all %}
                        <tr>
                            <td>
                                <h4 class="ui image header">
                                    <div class="content">
                                        {{ chunk.beginning_time }}
                                    </div>
                                </h4>
                            </td>
                            <td>
                                <h4 class="ui image header">
                                    <div class="content">
                                        {{ chunk.ending_time }}
                                    </div>
                                </h4>
                            </td>
{#                            </td>#}
{#                                <td>#}
{#                                </button><button class="ui icon button">#}
{#                                    <i class="ban icon"></i>#}
{#                                </button>#}
{#                            </td>#}
                        </tr>
                    {% endfor %}
                    <tr>
                        <form method="post">
                            {% csrf_token %}
                            <td>
                                <h4 class="ui image header">
                                    <div class="ui input">
                                        <input type="text" placeholder="توانایی جدید" style="text-align:right" name="beginning_time">
                                    </div>
                                </h4>
                            </td>
                            <td>
                                <h4 class="ui image header">
                                    <div class="ui input">
                                        <input type="text" placeholder="توانایی جدید" style="text-align:right" name="ending_time">
                                    </div>
                                </h4>

                                <button class="ui teal large icon button" type="submit">
                                    <i class="plus icon"></i>
                                </button>
                            </td>
{#                            <td>#}
{#                                <button class="ui icon button" type="submit">#}
{#                                    <i class="plus icon"></i>#}
{#                            </td>#}
                        </form>
                    <tr>
                </tbody>
            </table>
        </p>
    </div>
{% endblock %}
