{% extends "base_admin.html" %}

{% load static %}

{% block title %}Skills{% endblock %}

{% block active_validate_user %}active{% endblock %}

{% block add_content %}
    <div class="ui bottom attached segment">
        <p>
            <table class="ui very basic collapsing celled table"  style="text-align:right; padding: 40px; margin: auto; margin-top: 60px; margin-bottom: 160px; background-color: rgba(243, 244, 245)">
                <col width="200">
                <col width="80">
                <thead>
                    <tr>
                        <th><h4>
                            کاربر
                        </h4></th>
                        <th><h4>
                            گزینه ها
                        </h4></th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in member_list %}
                        <tr>
                            <td>
                                <a href="{% url 'profile' username=member.username %}">
                                    <h4 class="ui large image header">
                                        <img src="/image/{{ member.avatar }}" class="ui large rounded image">
                                        <div class="content">
                                            {{ member.first_name }} {{ member.last_name }}
                                            <div class="sub header">
                                                {% if member.is_benefactor %}
                                                    نیکوکار
                                                {% else %}
                                                    موسسه
                                                {% endif %}
                                            </div>
                                        </div>
                                    </h4>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'accept_user' pk=member.pk %}">
                                    <button class="ui green icon button">
                                        <i class="check icon"></i>
                                    </button>
                                </a>
                                <a href="{% url 'reject_user' pk=member.pk %}">
                                    <button class="ui red icon button">
                                        <i class="ban icon"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
    </div>
{% endblock %}
