{% extends "base_admin.html" %}

{% load static %}

{% block title %}Skills{% endblock %}

{% block active_validate_skill %}active{% endblock %}

{% block add_content %}
    <div class="ui bottom attached segment">
        <p>
            <table class="ui very basic collapsing celled table" style="text-align:right">
                <col width="200">
                <col width="80">
                <thead>
                    <tr>
                        <th>نیکوکار</th>
                        <th>گزینه‌ها</th>
                    </tr>
                </thead>
                <tbody>
                    {% for has_skill in hasskill_list %}
                        <tr>
                            <td>
                                <a href="{% url 'profile' username=has_skill.benefactor.member.username %}">
                                    <h4 class="ui image header">
                                        <img src="/image/{{ has_skill.benefactor.member.avatar }}" class="ui mini rounded image">
                                        <div class="content">
                                            {{ has_skill.benefactor.member.first_name }} {{ has_skill.benefactor.member.last_name }}
                                            <div class="sub header">
                                                {{ has_skill.skill_type }}
                                            </div>
                                        </div>
                                    </h4>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'accept_skill' pk=has_skill.pk %}">
                                    <button class="ui icon button">
                                        <i class="check icon"></i>
                                    </button></a><a href="{% url 'reject_skill' pk=has_skill.pk %}"><button class="ui icon button">
                                        <i class="ban icon"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
    </div>
{% endblock %}
