{% extends "base.html" %}
{% load convert_date %}

{% block title %}Create Non Cash Requirement{% endblock %}

{%  block content %}

<div style="text-align:right;width:900px;margin:auto;margin-top:50px">
    <div class="ui teal segment" style="margin-bottom: 100px; background-color: rgba(220, 222, 228, 0.479); padding: 50px">
        <form class="ui huge form" method="post" enctype="multipart/form-data">
            {% csrf_token %}


            <div class="two fields">
                <div class="field">
                    <label>عنوان</label>
                    <input type="text" placeholder="عنوان این نیاز" name="title" style="text-align:right" id="id_title">
                </div>
                <div class="field">
                    <label>توانایی</label>
                    <select name="skill" class="ui fluid dropdown">
                        <option value="">توانایی‌</option>
                        {% for skill in Skill %}
                        <option name="skill" value="{{ forloop.counter }}"
                                id="id_skills_{{ forloop.counter0 }}">{{ skill.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="field">
                <label>تاریخ شروع</label>
                <div class="three fields">
                    <div class="field">
                        <input type="text" name="begin_day" placeholder="روز">
                    </div>
                    <div class="field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="begin_month">
                            <i class="small dropdown icon"></i>
                            <div class="default text">ماه</div>
                            <div class="menu">
                                <div class="item" data-value="1">
                                    فروردین
                                </div>
                                <div class="item" data-value="2">
                                    اردیبهشت
                                </div>
                                <div class="item" data-value="3">
                                    خرداد
                                </div>
                                <div class="item" data-value="4">
                                    تیر
                                </div>
                                <div class="item" data-value="5">
                                    مرداد
                                </div>
                                <div class="item" data-value="6">
                                    شهریور
                                </div>
                                <div class="item" data-value="7">
                                    مهر
                                </div>
                                <div class="item" data-value="8">
                                    آبان
                                </div>
                                <div class="item" data-value="9">
                                    آذر
                                </div>
                                <div class="item" data-value="10">
                                    دی
                                </div>
                                <div class="item" data-value="11">
                                    بهمن
                                </div>
                                <div class="item" data-value="12">
                                    اسفند
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" name="begin_year" placeholder="سال">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>تاریخ پایان</label>
                <div class="three fields">
                    <div class="field">
                        <input type="text" name="end_day" placeholder="روز">
                    </div>
                    <div class="field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="end_month">
                            <i class="small dropdown icon"></i>
                            <div class="default text">ماه</div>
                            <div class="menu">
                                <div class="item" data-value="1">
                                    فروردین
                                </div>
                                <div class="item" data-value="2">
                                    اردیبهشت
                                </div>
                                <div class="item" data-value="3">
                                    خرداد
                                </div>
                                <div class="item" data-value="4">
                                    تیر
                                </div>
                                <div class="item" data-value="5">
                                    مرداد
                                </div>
                                <div class="item" data-value="6">
                                    شهریور
                                </div>
                                <div class="item" data-value="7">
                                    مهر
                                </div>
                                <div class="item" data-value="8">
                                    آبان
                                </div>
                                <div class="item" data-value="9">
                                    آذر
                                </div>
                                <div class="item" data-value="10">
                                    دی
                                </div>
                                <div class="item" data-value="11">
                                    بهمن
                                </div>
                                <div class="item" data-value="12">
                                    اسفند
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" name="end_year" placeholder="سال">
                    </div>
                </div>
            </div>


            <div class="field">
                <label>زمان</label>
                <div class="two fields">
                    <div class="field">
                        <select class="ui fluid dropdown" name="time">
                            <option value="">بازه زمانی</option>
                            {% for chunk in Chunk %}
                                <option name="time" value="{{ forloop.counter }}"
                                        id="id_chunks_{{ forloop.counter0 }}">{{ chunk }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="field">
                        <select class="ui fluid dropdown" name="week_day">
                            <option value="">روز هفته</option>
                            {% for tag in WeekDay %}
                                <option name="week_day" value="WeekDay.{{ tag }}"
                                        id="id_chunks_{{ forloop.counter0 }}">{{ tag | convert_day }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>جنسیت</label>
                <select class="ui fluid dropdown" name="gender">
                    <option value="">جنسیت</option>
                    {% for tag in Gender %}
                        <option name="gender" value="Gender.{{ tag }}"
                                id="id_gender_{{ forloop.counter0 }}">{{ tag | convert_gender }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="field">
                <label>توضیحات</label>
                <textarea type="text" placeholder="توضیحات" name="description" style="text-align: right"
                          id="id_description"></textarea>
            </div>


            <br>
            {% if "This field is required." in form.title.errors %}
            <div class="ui negative message">
                <p>
                    پر کردن این بخش الزامی است.
                </p>
            </div>
            {% elif form.username.errors %}
            <div class="ui negative message">
                <p>
                    عنوان مجاز نیست.
                </p>
            </div>
            {% endif %}

            <button class="ui teal big button" type="submit" id="id_submit">ثبت</button>

        </form>

        <br>
        {{ form.errors }}
        <script>$(function() {
          $('.ui.dropdown').dropdown();
        });</script>
    </div>
</div>

{%  endblock %}