{% extends "benefactor_profile_base.html" %}

{% load static %}

{% load filter_skill %}

{% block is_active_info %}active{% endblock %}

{% block add_content %}
        <div class="ui bottom attached segment" style="background-color: rgba(243, 244, 245)">

            <div class="ui items" style="padding: 50px">
                <div class="item">
                    <a class="ui circular medium image" style="margin-left: 100px">
                        <img src="/image/{{ member.avatar }}">
                        <br>
                        <center>
                            <div class="ui center aligned massive star rating"
                                 data-rating="{{ member.benefactor|get_benefactor_mean_score }}"
                                 data-max-rating="5"></div>
                            <p>آنلاین</p>
                        </center>
                        <script>        $(function () {
                            $('.ui.rating').rating();

                        });
                        </script>
                    </a>
                <div class="content">
                    <h1 style="font-family: VezFont">
                        {{ member.first_name }} {{ member.last_name }}
                    </h1>

                    {% if member.bio %}

                        <h3> بیوگرافی : </h3>



                        <p style="max-width: 300px;overflow: hidden">
                            {{ member.bio }}
                        </p>
                    {% endif %}

                    <br>

                    {% if member.benefactor.skill %}
                        <h4>توانایی ها : </h4>

                        <p>
                            {% for hasskill in member.benefactor.skill|filter_accepted %}
                                {% if forloop.counter0 > 0 %}
                                    ،
                                {% endif %}
                                {{ hasskill.skill_type }}
                            {% endfor %}
                        </p>
                    {% endif %}

                    <br><br>

                    <h4> پست الکترونیکی : </h4>
                    <h5> sathsathsath@gmail.com </h5>

                    <br><br>

                    <br>
                    {% if user.is_authenticated %}
                        {% if user.is_institute %}
                            <button class="ui teal huge button" onclick="ui.modal" id="request_button">ارسال درخواست همکاری</button>
                            <script>
                                $('#request_button').click(function() {
                                    $('.ui.modal')
                                        .modal('show')
                                        ;
                                });
                            </script>

                            <div class="ui small center aligned modal" style=" background-color: rgba(243, 244, 245); bottom: auto; top: auto; right: auto; left: auto;">

                                <div class="content" style="text-align:right">

                                    <form id="request" method="post" action="/requirements/request/institute/{{ member.username }}/">
                                    {% csrf_token %}

                                        <p style="width:100%">

                                            <h4 style="text-align: right;">درخواست</h4>

                                            <div class="ui input" style="width:100%;max-height:10vh">
                                                <input type="text" name="description" id="id_description" placeholder="توضیحات" style="width:100%;height:90%;margin:auto;text-align:right;font-family:'VezFont';max-height:10vh">
                                            </div>

                                            <h4 class="ui dividing header">
                                                توانایی‌ها</h4>

                                            <select name="requirement" id="id_requirement" class="ui fluid dropdown">
                                            <option value="">نیازمندی</option>
                                            {% for requirement in user.institute.non_cash_requirements.all %}
                                                <option value="{{ requirement.pk }}">{{ requirement.title }}</option>
                                            {% endfor %}
                                            </select>
                                            <script>$(function() {
                                              $('.ui.dropdown').dropdown();
                                              $('.overlay.example .overlay')
                                                  .visibility({
                                                      type: 'fixed',
                                                      offset: 15 // give some space from top of screen
                                                  });
                                            });</script>

                                        </p>


                                    </form>

                                </div>


                                <div class="actions">
                                    <button class="ui teal button" id = "accept_button">ثبت</button>
                                    <button class="ui red button" id = "cancel_button">لغو</button>
                                    <script>
                                        $('#accept_button').click(function() {
                                            $('#request')
                                                .submit()
                                                ;
                                        });
                                    </script>
                                    <script>
                                        $('#cancel_button').click(function() {
                                            $('.ui.modal')
                                                .modal('hide')
                                                ;
                                        });
                                    </script>
                                </div>

                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            </div>

        </div>

{% endblock %}
