{% extends "benefactor_profile_base.html" %}

{% load static %}

{% load filter_skill %}

{% block is_active_activities %}active{% endblock %}

{% block add_content %}
    <div class="ui bottom attached segment" style="background-color: rgba(243, 244, 245)">

            <div class="ui container" style="margin-top: 30px; margin-bottom: 100px" >


                <br><br>

                <h3>
                    فعالیت های فعلی شما به شرح زیر است :
                </h3>

                <br><br><br><br>

                <script>
                    $('.ui.accordion')
                        .accordion()
                        ;
                </script>

                <div class="ui blue segment">

                    <div class="ui centered inverted accordion">

                        <div class="title" style="font-size: 20px">

                            <i class="dropdown teal icon"></i>
                            <a>شرکت تشتک سازی ورامین</a>

                            <br>

                            <div style="font-size: 16px">

                                <a>برنامه نویس C</a>

                            </div>

                        </div>

                        <div class="content">

                            <h5>
                                از تاریخ 1397/4/22 تا تاریخ 1397/4/2
                            </h5>

                            <h5>
                                یکشنبه ها از ساعت 14:00 تا ساعت 16:00
                            </h5>

                        </div>
                    </div>

                </div>

                <div class="ui blue segment">

                    <div class="ui centered inverted accordion">

                        <div class="title" style="font-size: 20px">

                            <i class="dropdown teal icon"></i>
                            <a>شرکت تشتک سازی ورامین</a>

                            <br>

                            <div style="font-size: 16px">

                                <a>برنامه نویس C</a>

                            </div>

                        </div>

                        <div class="content">

                            <h5>
                                از تاریخ 1397/4/22 تا تاریخ 1397/4/2
                            </h5>

                            <h5>
                                یکشنبه ها از ساعت 14:00 تا ساعت 16:00
                            </h5>

                        </div>
                    </div>

                </div>

                <div class="ui blue segment">

                    <div class="ui centered inverted accordion">

                        <div class="title" style="font-size: 20px">

                            <i class="dropdown teal icon"></i>
                            <a>شرکت تشتک سازی ورامین</a>

                            <br>

                            <div style="font-size: 16px">

                                <a>برنامه نویس C</a>

                            </div>

                        </div>

                        <div class="content">

                            <h5>
                                از تاریخ 1397/4/22 تا تاریخ 1397/4/2
                            </h5>

                            <h5>
                                یکشنبه ها از ساعت 14:00 تا ساعت 16:00
                            </h5>

                        </div>
                    </div>

                </div>

            </div>




    </div>
{% endblock %}
