{% extends "benefactor_profile_base.html" %}

{% load static %}

{% load filter_skill %}

{% load convert_date %}


{% block add_content %}

        <div class="ui bottom attached segment" style="background-color: rgba(243, 244, 245)">

            <div class="ui container" style="margin-top: 30px; margin-bottom: 100px">

                <br><br>

                <h4>
                    در این قسمت می توانید به موسساتی که با آن ها همکاری داشته اید ، در رابطه با همکاری تان امتیاز دهید
                </h4>

                <br><br><br><br>


                <div class="ui three stackable special cards">

                    <div class="card" style="background-color: rgba(220, 222, 228, 0.479); padding: 10px;">


                        <div class="circular image">
                            <img src="{% static 'img/statistic.png' %}" class="ui circular image">
                        </div>

                        <div class="content" style="margin-top: 10px">

                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px;">
                                <h4>
                                    موسسه : تشتک سازی ورامین
                                </h4>
                            </a>

                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px">
                                <h5>
                                    مورد همکاری : تشتک بافی
                                </h5>
                            </a>

                            <div class="meta" style="font-family: VezFont; align-content: center; margin: 8px">
                                <span class="date">آخرین بازدید : 2 ساعت پیش</span>
                            </div>

                        </div>


                        <div class="extra">
                            امتیاز دهید :
                            <div class="ui left aligned massive star rating" data-rating="4" data-max-rating="5" style="margin-right: 30px"></div>
                        </div>

                        <script>        $(function () {
                            $('.ui.rating').rating();

                        });
                        </script>

                    </div>

                    <div class="card" style="background-color: rgba(220, 222, 228, 0.479); padding: 10px;">


                        <div class="circular image">
                            <img src="{% static 'img/statistic.png' %}" class="ui circular image">
                        </div>

                        <div class="content" style="margin-top: 10px">

                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px;">
                                <h4>
                                    موسسه : تشتک سازی ورامین
                                </h4>
                            </a>

                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px">
                                <h5>
                                    مورد همکاری : تشتک بافی
                                </h5>
                            </a>

                            <div class="meta" style="font-family: VezFont; align-content: center; margin: 8px">
                                <span class="date">آخرین بازدید : 2 ساعت پیش</span>
                            </div>

                        </div>


                        <div class="extra">
                            امتیاز دهید :
                            <div class="ui left aligned massive star rating" data-rating="4" data-max-rating="5" style="margin-right: 30px"></div>
                        </div>

                        <script>        $(function () {
                            $('.ui.rating').rating();

                        });
                        </script>

                    </div>

                    <div class="card" style="background-color: rgba(220, 222, 228, 0.479); padding: 10px;">


                        <div class="circular image">
                            <img src="{% static 'img/statistic.png' %}" class="ui circular image">
                        </div>

                        <div class="content" style="margin-top: 10px">

                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px;">
                                <h4>
                                    موسسه : تشتک سازی ورامین
                                </h4>
                            </a>

                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px">
                                <h5>
                                    مورد همکاری : تشتک بافی
                                </h5>
                            </a>

                            <div class="meta" style="font-family: VezFont; align-content: center; margin: 8px">
                                <span class="date">آخرین بازدید : 2 ساعت پیش</span>
                            </div>

                        </div>


                        <div class="extra">
                            امتیاز دهید :
                            <div class="ui left aligned massive star rating" data-rating="4" data-max-rating="5" style="margin-right: 30px"></div>
                        </div>

                        <script>        $(function () {
                            $('.ui.rating').rating();

                        });
                        </script>

                    </div>

                    <div class="card" style="background-color: rgba(220, 222, 228, 0.479); padding: 10px;">


                        <div class="circular image">
                            <img src="{% static 'img/statistic.png' %}" class="ui circular image">
                        </div>

                        <div class="content" style="margin-top: 10px">

                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px;">
                                <h4>
                                    موسسه : تشتک سازی ورامین
                                </h4>
                            </a>

                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px">
                                <h5>
                                    مورد همکاری : تشتک بافی
                                </h5>
                            </a>

                            <div class="meta" style="font-family: VezFont; align-content: center; margin: 8px">
                                <span class="date">آخرین بازدید : 2 ساعت پیش</span>
                            </div>

                        </div>


                        <div class="extra">
                            امتیاز دهید :
                            <div class="ui left aligned massive star rating" data-rating="4" data-max-rating="5" style="margin-right: 30px"></div>
                        </div>

                        <script>        $(function () {
                            $('.ui.rating').rating();

                        });
                        </script>

                    </div>
                </div>


            </div>


        </div>


{% endblock %}