{% extends "edit_profile.html" %}


{% block name %}
    <div class="field">
        <label>عنوان مؤسسه</label>
        <div class="field">
            <input type="text" name="first_name" value="{{ user.first_name }}" placeholder="عنوان مؤسسه" id="id_first_name">
        </div>
    </div>
{% endblock %}

{% block bio %}
<div class="field">
    <label>معرفی مؤسسه</label>
    <textarea type="text" placeholder="معرفی مؤسسه" name="bio" style="text-align: right" id="id_bio">{{ user.bio }}</textarea>
</div>
{% endblock %}