{% extends "base.html" %}

{% block title %}Edit profile{% endblock %}


{%  block content %}

<div style="text-align:right;width:900px;margin:auto;margin-top:50px">

    <div class="ui teal segment" style="margin-bottom: 100px; background-color: rgba(220, 222, 228, 0.479); padding: 50px">

        <form class="ui huge form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.avatar }}
        {% block personal %}

            <h2 class="ui dividing header">
                مشخصات
            </h2>

            {% block name %}

            <br><br>

            <div class="field">
                <label>نام و نام خانوادگی</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="first_name" value="{{ user.first_name }}" placeholder="نام"
                               id="id_first_name">
                    </div>
                    <div class="field">
                        <input type="text" name="last_name" value="{{ user.last_name }}" placeholder="نام خانوادگی"
                               id="id_last_name">
                    </div>
                </div>
            </div>

            {% endblock %}

            <br>

            <div class="field">
                <label>پست الکترونیک</label>
                <input type="email" value="{{ user.email }}" placeholder="joe@schmoe.com" name="email" style="text-align:left" id="id_email">
            </div>

            {% block bio %}
            <div class="field">
                <label>بیوگرافی</label>
                <textarea type="text" placeholder="بیوگرافی" name="bio" style="text-align: right" id="id_bio">{{ user.bio }}</textarea>
            </div>
            {% endblock %}

        {% endblock %}
        {% block addition %}{% endblock %}

        <button class="ui teal big button" type="submit" id="id_submit">ثبت</button>
    </form>

    </div>

</div>

{% endblock %}