{% extends "edit_profile.html" %}

{% load static %}


{% block name %}
    <div class="field">
        <label>عنوان مؤسسه</label>
        <div class="field">
            <input type="text" name="first_name" value="{{ user.first_name }}" placeholder="عنوان مؤسسه" id="id_first_name">
        </div>
    </div>
{% endblock %}

{% block bio %}
<div class="field">
    <label>معرفی مؤسسه</label>
    <textarea type="text" placeholder="معرفی مؤسسه" name="bio" style="text-align: right" id="id_bio">{{ user.bio }}</textarea>
</div>
    <div class="field">
        <label> شماره تماس</label>
        <div class="field">
            <input type="text" name="telephone_number" value="{{ user.institute.telephone_number }}" placeholder="شماره تماس" id="id_telephone_number">
        </div>
    </div>
    <div class="field">
        <label> شهر</label>
        <div class="field">
            <input type="text" name="city" value="{{ user.institute.city }}" placeholder="شهر" id="id_city">
        </div>
    </div>
    <div class="field">
        <label> آدرس</label>
        <div class="field">
            <input type="text" name="address" value="{{ user.institute.address }}" placeholder="آدرس" id="id_address">
        </div>
    </div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <label> محل</label>

    <!--map div-->
    <div id="map" style="height: 500px;width: 700px"></div>

    <input hidden type="text" name="lat" id="lat" readonly="yes"
        {% if user.institute.lat != None %}
            value="{{ user.institute.lat }}"
        {% endif %}
    ><br>
    <input hidden type="text" name="long" id="long" readonly="yes"
        {% if user.institute.long != None %}
            value="{{ user.institute.long }}"
        {% endif %}
    >

    <script type="text/javascript" src="{% static "map.js" %}"></script>

    {{ form.errors }}
{% endblock %}

{% block include_map %}
    <section style="background-color: #004444; color: white; padding: 30px;">

            <div class="ui very relaxed  stackable grid">

                <div class="seven wide column">

                    <h1>ارتباط با ما</h1>

                    <br> <br>

                    <div class="ui items" style="margin-right: 20px">

                        <div class="ui item">
                            <i class="ui address book big icon" style="margin-left: 7px"></i>
                            <p>
                                آدرس : تهران ، خیابان آزادی ، دانشگاه صنعتی شریف ، دانشکده ی مهندسی کامپیوتر
                            </p>
                        </div>

                        <div class="ui item">
                            <i class="ui phone big icon" style="margin-left: 7px"></i>
                            <p>
                               تلفن روابط عمومی : 09301337244
                            </p>
                        </div>

                        <div class="ui item">
                            <i class="ui envelope big icon" style="margin-left: 7px"></i>
                            <p>
                               پست الکترونیکی : vezvaeia@gmail.com
                            </p>
                        </div>

                        <br>

                        <div class="item">
                            <button class="ui circular huge facebook icon button">
                                <i class="facebook icon"></i>
                            </button>
                            <button class="ui circular huge twitter icon button">
                                <i class="twitter icon"></i>
                            </button>
                            <button class="ui circular huge linkedin icon button">
                                <i class="linkedin icon"></i>
                            </button>
                            <button class="ui circular huge google plus icon button">
                                <i class="google plus icon"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="nine wide column" style="margin-top: 30px;">
                    <img src="{% static 'img/mapshot.png' %}">
                </div>




            </div>
        </section>
{% endblock %}