{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block suggest %}
    {% if not user.is_authenticated %}
        <div class="text container" style="padding: 40px; margin: auto">
            <h1 style="padding: 10px; padding-right: 0px;">همیار</h1>
            <h2 style="padding: 10px; padding-right: 0px;">سامانه‌ی ارائه‌ی خدمات داوطلبانه</h2>
            <br>
            <a href="/signup/benefactor/"><div class="ui huge teal button" style="margin:10px; margin-right: 0px;">همین حالا ثبت نام کن !</div></a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
        <section>
            <div class="ui container w1000 transition visible">
                <div class="ui very relaxed middle aligned stackable grid">
                    <div class="eleven wide column">
                        <h1>همیار چیست ؟</h1>
                        <p class="ui secondary huge">
                            همیار، سامانه‌ی ارائه‌ی کمک‌های نیکوکارانه و داوطلبانه‌ی خیرین و نیکوکاران است. به کمک همیار می توانید لیستی از پروژه های
                            نیکوکارانه‌ی در حال انجام توسط موسسات مختلف را مشاهده کنید و کمک‌های نقدی خود را صرف پیشبرد پروژه‌ی
                            دلخواه خود کنید. علاوه بر این می توانید خدمات نیکوکارانه‌ای که قادر به ارائه‌ی آن‌ها هستید را
                            ثبت کنید و این خدمات را به موسساتی که نیازمند چنین خدماتی هستند ارائه دهید. هم‌چنین اگر شما در
                            حال اجرای یک پروژه‌ی نیکوکارانه هستید، می توانید از خدمات و کمک‌های نقدی و غیرنقدی خیرین علاقه‌مند،
                            بهره‌مند شوید.
                        </p>
                        <h3 class="ui teal text">
                            پس همین حالا به همیار بپیوندید!
                        </h3>
                    </div>
                    <div class="five wide column">
                        <image class="ui circular center aligned medium image" src="{% static "img/quera.svg" %}"></image>
                    </div>
                </div>
            </div>
        </section>

        <section style="background-color:rgba(220, 222, 228, 0.479)">
            <div class="ui container w1000 transition visible">
                <div class="ui very relaxed middle aligned stackable grid">
                    <div class="five wide column">
                        <image class="ui circular center aligned medium image" src="{% static "img/user2.jpg" %}"></image>
                    </div>
                    <div class="four wide column">

                    </div>
                    <div class="seven wide column">
                        <h1>نیکوکار هستید ؟</h1>
                        <p class="ui secondary huge">
                            همین حالا ثبت نام کنید و در کمک‌های نقدی و غیرنقدی سهیم باشید!
                        </p>
                        <a href="/signup/benefactor/">
                            <div class="ui teal huge button">
                                ثبت‌‌ نام نیکوکار
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <div class="ui container w5000 transition visible">
                <div class="ui very relaxed middle aligned stackable grid">
                    <div class="eleven wide column">
                        <h1> در پروژه‌ی خود نیاز به کمک نقدی یا خدمات نیکوکارانه دارید؟</h1>
                        <p class="ui secondary huge">
                            همین حالا ثبت نام کنید و با نیکوکاران آشنا شوید!
                        </p>
                        <a href="/signup/institute/">
                            <div class="ui teal huge button">
                                ثبت‌‌ نام موسسه
                            </div>
                        </a>
                    </div>
                    <div class="five wide column">
                        <image class="ui circular center aligned medium image" src="{% static "img/school.png" %}"></image>
                    </div>
                </div>
            </div>
        </section>

        <section style="background-color:rgba(220, 222, 228, 0.479)">
            <div class="ui container w1000 transition visible">
                <div class="ui very relaxed middle aligned stackable grid">
                    <div class="one wide column">

                    </div>

                    <div class="seven wide column">

                        <h1>درباره‌ی ما</h1>

                        <div class="ui items">
                            <div class="ui item">
                                <image src="{% static "img/avatar2.png" %}" class="ui circular small image" , style="margin-left: 25px"></image>
                                <div class="content">
                                    <div class="header" style="font-family: 'VezFont';">
                                        (master) الیاس حیدری
                                        <br>
                                    </div>
                                    <div class="meta">
                                        درباره‌ی الیاس
                                    </div>
                                    <div class="discription">
                                        <p>
                                            او بسیار خفن است. او خفن بیوانفورماتیک است. او 93 ای دو رشته‌ای پنج ساله است.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="ui item">
                                <image src="{% static "img/avatar3.png" %}" class="ui circular small image" , style="margin-left: 25px"></image>
                                <div class="content">
                                    <div class="header" style="font-family: 'VezFont';">
                                        (Yadack Designer) آرین تاجمیر ریاحی
                                        <br>
                                    </div>
                                    <div class="meta">
                                        درباره‌ی آرین
                                    </div>
                                    <div class="discription">
                                        <p>
                                            او بسیار خفن است. او تنها ابرفول اتوماتا است. او 94 ای سه سال و نیمه است.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="seven wide column">

                        <h1></h1>

                        <div class="ui items">
                            <div class="ui item">
                                <image src="{% static "img/avatar8.png" %}" class="ui circular small image" , style="margin-left: 25px"></image>
                                <div class="content">
                                    <div class="header" style="font-family: 'VezFont';">
                                        (UI Designer) علیرضا وزوایی
                                        <br>
                                    </div>
                                    <div class="meta">
                                        درباره‌ی علیرضا
                                    </div>
                                    <div class="discription">
                                        <p>
                                            او بسیار خفن است. او خفن چند بعدی است. او 94 ای است.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="ui item">
                                <image src="{% static "img/avatar6.png" %}" class="ui circular small image" , style="margin-left: 25px"></image>
                                <div class="content">
                                    <div class="header" style="font-family: 'VezFont';">
                                        (Project Manager) امیررضا مزینی
                                        <br>
                                    </div>
                                    <div class="meta">
                                        درباره‌ی امیررضا
                                    </div>
                                    <div class="discription">
                                        <p>
                                            او اصلا خفن نیست. او دچار عقب ماندگی ذهنی است. او 94 ای است.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="one wide column">

                    </div>

                </div>
            </div>
        </section>

        <section>
            <div class="ui container w1000 transition visible">
                <div class="ui very relaxed middle aligned stackable grid">

                    <div class="one wide column">

                    </div>

                    <div class="four wide column">


                        <div class="ui center aligned container">
                            <image src="{% static "img/inst.png" %}" class="ui circular centered small image"></image>
                        </div>
                        <br>
                        <div class="ui center aligned container">

                            <div class="ui teal large statistic">

                                <div class="value">
                                    {{ Count }}
                                </div>
                                <div class="label" style="font-family: VezFont; margin-top: 10px;">
                                    موسسه
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="one wide column">

                    </div>


                    <div class="four wide column">


                        <div class="ui center aligned container">
                            <image src="{% static "img/statistic.png" %}" class="ui circular centered small image"></image>
                        </div>
                        <br>
                        <div class="ui center aligned container">

                            <div class="ui teal large statistic">

                                <div class="value">
                                    {{ Count }}
                                </div>
                                <div class="label" style="font-family: VezFont; margin-top: 10px;">
                                    کاربر
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="one wide column">

                    </div>


                    <div class="four wide column">

                        <div class="ui center aligned container">
                            <image src="{% static "img/arrow.png" %}" class="ui circular centered small image"></image>
                        </div>
                        <br>
                        <div class="ui center aligned container">

                            <div class="ui teal large statistic">

                                <div class="value">
                                    {{ Count }}
                                </div>
                                <div class="label" style="font-family: VezFont; margin-top: 10px;">
                                    نیکوکار
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="one wide column">

                    </div>

                </div>
            </div>
        </section>
    </div>





{% endblock %}