{% extends "base.html" %}

{% block title %}Sign up{% endblock %}


{%  block content %}

<div style="text-align:right;width:500px;margin:auto;margin-top:50px">
    <form class="ui form" method="post">
        {% csrf_token %}
        {% block personal %}
        <h4 class="ui dividing header">
            مشخصات</h4>
        <div class="field">
            <label>نام</label>
            <div class="two fields">
                <div class="field">
                    <input type="text" name="first_name" placeholder="نام" id="id_first_name">
                </div>
                <div class="field">
                    <input type="text" name="last_name" placeholder="نام خانوادگی" id="id_last_name">
                </div>
            </div>
        </div>
        <div class="field">
            <label>پست الکترونیک</label>
            <input type="email" placeholder="joe@schmoe.com" name="email" style="text-align:left" id="id_email">
        </div>
        <div class="field">
            <label>نام کاربری</label>
            <input type="text" placeholder="username" name="username" style="text-align:left" id="id_username">
        </div>
        <div class="field">
            <label>رمز عبور</label>
            <input type="password" style="text-align:left" name="password1" id="id_password1">
        </div>
        <div class="field">
            <label>تکرار رمز عبور</label>
            <input type="password" style="text-align:left" name="password2" id="id_password2">
        </div>
        {% endblock %}
        {% block addition %}{% endblock %}

        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden" required>
                <label>بنده قوانین سایت را مطالعه کرده‌ام و مثل سگ با آن موافقم.</label>
            </div>
        </div>
        <script> $(document).ready(
        function () {
            $('.ui.checkbox')
                    .checkbox()
                    ;
        });</script>
        <button class="ui primary button" type="submit">ثبت</button>
        {{ form.errors }}
    </form>
</div>

{% endblock %}