{% extends "base.html" %}

{% block title %}Log in{% endblock %}


{%  block content %}

<div style="text-align:right;width:500px;margin:auto;margin-top:50px">
    <form class="ui form" method="post">
        {% csrf_token %}
        <div class="field">
            <label>نام کاربری</label>
            <div class="ui left icon input">
                <input type="text" placeholder="نام کاربری" style="text-align: right" name="username" required id="id_username">
                <i class="user icon"></i>
            </div>
        </div>
        <div class="field">
            <label>رمز عبور</label>
            <div class="ui left icon input">
                <input type="password" placeholder="رمز عبور" style="text-align: left" name="password" required id="id_password">
                <i class="lock icon"></i>
            </div>
        </div>
        {% if form.errors %}
            <div class="ui negative message">
                <p>
                    نام کاربری و رمز عبور هم‌خوانی ندارند. لطفا از صحت آن‌ها مطمعن شوید.
                </p>
            </div>
        {% endif %}
        <button class="ui primary button" type="submit" style="width: 100%">ثبت</button>
    </form>
</div>

{% endblock %}