{% extends "institute_profile_base.html" %}

{% load static %}

{% load filter_skill %}

{% block is_active_info %}active{% endblock %}

{% block add_content %}
    <div class="ui bottom attached segment" style="background-color: rgba(243, 244, 245); width: 1500px;">

        <div class="ui stackable grid">

            <div class="nine wide column">


                <div class="ui items" style="padding: 50px; margin-left: 10px; padding-left: 10px">
                    <div class="item">
                        <a class="ui medium circular image" style="margin-left: 50px; ">
                            <img src="/image/{{ member.avatar }}">
                            <center>
                                <div class="ui center aligned massive star rating"
                                     data-rating="{{ member.institute|get_institute_mean_score|convert_int }}"
                                     data-max-rating="5"></div>
                                <p>آنلاین</p>
                                <script>        $(function () {
                                    $('.ui.rating').rating({
                                        interactive:false
                                    });

                                });
                                </script>
                            </center>
                        </a>
                        <div class="content">
                            <h1 style="font-family: VezFont">{{ member.first_name }}</h1>

                            {% if member.bio %}

                            <h4> درباره‌ی موسسه : </h4>


                            <h6>
                                {{ member.bio }}
                            </h6>
                            {% endif %}

                            <br>

                            <h4>شهر: </h4>

                            <h6>
                                {% if member.institute.city %}
                                {{ member.institute.city }}
                                {% else %}
                                شهر این شرکت ثبت نشده است.
                                {% endif %}
                            </h6>

                            <br>

                            <h4> آدرس: </h4>

                            <h6>
                                {% if member.institute.address %}
                                {{ member.institute.address }}
                                {% else %}
                                آدرس این شرکت ثبت نشده است.
                                {% endif %}

                            </h6>

                            <br>

                            <h4>
                                تلفن روابط عمومی :
                            </h4>

                            <br>
                        </div>
                    </div>
                </div>

            </div>

        {% if member.institute.lat != None %}

            <div class="seven wide column">

                {% block include_map %}{% endblock %}
                <script src="http://maps.google.com/maps/api/js?sensor=false"
            type="text/javascript"></script>
                <div class="mapholder" style="padding:0;  width:560px; height: 500px; margin-right: 10px">
        <section id="contact" class="map">
            <div id="map" style="margin:auto; width:100%; height: 300px;"></div>

            <script type="text/javascript">
                var locations = [
                    ['محل شرکت', {{ member.institute.lat }}, {{ member.institute.long }}, 1]

                ];

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: new google.maps.LatLng({{ member.institute.lat }}, {{ member.institute.long }}),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var infowindow = new google.maps.InfoWindow();

                var marker, i;

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map
                    });

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }

            </script>
        </section>
    </div>

            </div>
        {% endif %}

        </div>

        <h3 style="margin-right: 50px"> آلبوم تصاویر </h3>

        <br><br><br><br>


    </div>
{% endblock %}