{% extends "institute_profile_base.html" %}

{% load static %}

{% load filter_skill %}

{% load convert_date %}

{%  block is_active_rating %}active{% endblock %}

{% block add_content %}

        <div class="ui bottom attached segment" style="background-color: rgba(243, 244, 245)">

            <div class="ui container" style="margin-top: 30px; margin-bottom: 100px">

                <br><br>

                <h4>
                    در این قسمت می توانید به نیکوکارانی که با آن ها همکاری داشته اید ، در رابطه با همکاری تان امتیاز دهید
                </h4>

                <br><br><br><br>


                <div class="ui three stackable special cards">

                    {% for requirement in member.institute.non_cash_requirements.all %}
                        {% for help_non_cash in requirement.helps.all %}
                            {% if help_non_cash.status == 'ValidationStatus.Act' %}
                                {% if help_non_cash.benefactor_score == -1 %}
                                    <div class="card" style="background-color: rgba(220, 222, 228, 0.479); padding: 10px;">


                                        <div class="circular image">
                                            <img src="/image/{{ help_non_cash.benefactor.member.avatar }}" class="ui circular image">
                                        </div>

                                        <div class="content" style="margin-top: 10px">

                                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px;">
                                                <h4>
                                                    نیکوکار :
                                                    {{ help_non_cash.benefactor.member.first_name }}
                                                    {{ help_non_cash.benefactor.member.last_name }}
                                                </h4>
                                            </a>

                                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px">
                                                <h5>
                                                    مورد همکاری :
                                                    {{ help_non_cash.requirement.title }}
                                                </h5>
                                            </a>

                                            <div class="meta" style="font-family: VezFont; align-content: center; margin: 8px">
                                                <span class="date">آخرین بازدید : 2 ساعت پیش</span>
                                            </div>

                                        </div>


                                        <div class="extra">
                                            امتیاز دهید :
                                            <div id="rating_{{ help_non_cash.requirement.pk }}" class="ui left aligned massive star rating" data-rating="{{ help_non_cash.benefactor|get_benefactor_mean_score|convert_int }}" data-max-rating="5" style="margin-right: 30px"></div>
                                        </div>

        {#                                <script>        $(function () {#}
        {#                                    $('.ui.rating').rating();#}
        {##}
        {#                                });#}
        {#                                </script>#}
                                        <script>
                                            $(function () {
                                                $('#rating_{{ help_non_cash.requirement.pk }}').rating({
                                                    interactive:true,
                                                    onRate: function (value) {
                                                        {#console.log(value)#}
                                                        var form = document.createElement("form");
                                                        form.setAttribute("method", "post");
                                                        form.setAttribute("action", "/requirements/rate/institute/{{ help_non_cash.requirement.pk }}/{{ help_non_cash.benefactor.member.username }}/");
                                                        var hiddenField = document.createElement("input");
                                                        hiddenField.setAttribute("type", "hidden");
                                                        hiddenField.setAttribute("name", "rate");
                                                        hiddenField.setAttribute("value", value);
                                                        form.appendChild(hiddenField);

                                                        var hiddenField = document.createElement("input");
                                                        hiddenField.setAttribute("type", "hidden");
                                                        hiddenField.setAttribute("name", 'csrfmiddlewaretoken');
                                                        hiddenField.setAttribute("value", '{{ csrf_token }}');
                                                        form.appendChild(hiddenField);

                                                        document.body.appendChild(form);
                                                        form.submit()
                                                    }
                                                });
                                            });
                                        </script>
                                        <script>
                                            function rate_{{ help_non_cash.requirement.pk }}(value) {
                                                console.log(1)
                                                 var form = document.createElement("form");
                                                form.setAttribute("method", "post");
                                                form.setAttribute("action", "/requirements/rate/benefactor/{{ help_non_cash.requirement.pk }}/");
                                                var hiddenField = document.createElement("input");
                                                hiddenField.setAttribute("type", "hidden");
                                                hiddenField.setAttribute("name", "rate");
                                                hiddenField.setAttribute("value", $('#rating_{{ help_non_cash.requirement.pk }}')
                                                    .rating('get rating'));

                                                document.body.appendChild(form);
                                                form.submit()
                                            }
                                        </script>

                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

{#                    <div class="card" style="background-color: rgba(220, 222, 228, 0.479); padding: 10px;">#}
{##}
{##}
{#                        <div class="circular image">#}
{#                            <img src="{% static 'img/statistic.png' %}" class="ui circular image">#}
{#                        </div>#}
{##}
{#                        <div class="content" style="margin-top: 10px">#}
{##}
{#                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px;">#}
{#                                <h4>#}
{#                                    موسسه : تشتک سازی ورامین#}
{#                                </h4>#}
{#                            </a>#}
{##}
{#                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px">#}
{#                                <h5>#}
{#                                    مورد همکاری : تشتک بافی#}
{#                                </h5>#}
{#                            </a>#}
{##}
{#                            <div class="meta" style="font-family: VezFont; align-content: center; margin: 8px">#}
{#                                <span class="date">آخرین بازدید : 2 ساعت پیش</span>#}
{#                            </div>#}
{##}
{#                        </div>#}
{##}
{##}
{#                        <div class="extra">#}
{#                            امتیاز دهید :#}
{#                            <div class="ui left aligned massive star rating" data-rating="4" data-max-rating="5" style="margin-right: 30px"></div>#}
{#                        </div>#}
{##}
{#                        <script>        $(function () {#}
{#                            $('.ui.rating').rating();#}
{##}
{#                        });#}
{#                        </script>#}
{##}
{#                    </div>#}
{##}
{#                    <div class="card" style="background-color: rgba(220, 222, 228, 0.479); padding: 10px;">#}
{##}
{##}
{#                        <div class="circular image">#}
{#                            <img src="{% static 'img/statistic.png' %}" class="ui circular image">#}
{#                        </div>#}
{##}
{#                        <div class="content" style="margin-top: 10px">#}
{##}
{#                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px;">#}
{#                                <h4>#}
{#                                    موسسه : تشتک سازی ورامین#}
{#                                </h4>#}
{#                            </a>#}
{##}
{#                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px">#}
{#                                <h5>#}
{#                                    مورد همکاری : تشتک بافی#}
{#                                </h5>#}
{#                            </a>#}
{##}
{#                            <div class="meta" style="font-family: VezFont; align-content: center; margin: 8px">#}
{#                                <span class="date">آخرین بازدید : 2 ساعت پیش</span>#}
{#                            </div>#}
{##}
{#                        </div>#}
{##}
{##}
{#                        <div class="extra">#}
{#                            امتیاز دهید :#}
{#                            <div class="ui left aligned massive star rating" data-rating="4" data-max-rating="5" style="margin-right: 30px"></div>#}
{#                        </div>#}
{##}
{#                        <script>        $(function () {#}
{#                            $('.ui.rating').rating();#}
{##}
{#                        });#}
{#                        </script>#}
{##}
{#                    </div>#}
{##}
{#                    <div class="card" style="background-color: rgba(220, 222, 228, 0.479); padding: 10px;">#}
{##}
{##}
{#                        <div class="circular image">#}
{#                            <img src="{% static 'img/statistic.png' %}" class="ui circular image">#}
{#                        </div>#}
{##}
{#                        <div class="content" style="margin-top: 10px">#}
{##}
{#                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px;">#}
{#                                <h4>#}
{#                                    موسسه : تشتک سازی ورامین#}
{#                                </h4>#}
{#                            </a>#}
{##}
{#                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px">#}
{#                                <h5>#}
{#                                    مورد همکاری : تشتک بافی#}
{#                                </h5>#}
{#                            </a>#}
{##}
{#                            <div class="meta" style="font-family: VezFont; align-content: center; margin: 8px">#}
{#                                <span class="date">آخرین بازدید : 2 ساعت پیش</span>#}
{#                            </div>#}
{##}
{#                        </div>#}
{##}
{##}
{#                        <div class="extra">#}
{#                            امتیاز دهید :#}
{#                            <div class="ui left aligned massive star rating" data-rating="4" data-max-rating="5" style="margin-right: 30px"></div>#}
{#                        </div>#}
{##}
{#                        <script>        $(function () {#}
{#                            $('.ui.rating').rating();#}
{##}
{#                        });#}
{#                        </script>#}
{##}
{#                    </div>#}
{##}
{#                    <div class="card" style="background-color: rgba(220, 222, 228, 0.479); padding: 10px;">#}
{##}
{##}
{#                        <div class="circular image">#}
{#                            <img src="{% static 'img/statistic.png' %}" class="ui circular image">#}
{#                        </div>#}
{##}
{#                        <div class="content" style="margin-top: 10px">#}
{##}
{#                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px;">#}
{#                                <h4>#}
{#                                    موسسه : تشتک سازی ورامین#}
{#                                </h4>#}
{#                            </a>#}
{##}
{#                            <a class="header" style="font-family: VezFont; align-content: center; margin: 8px">#}
{#                                <h5>#}
{#                                    مورد همکاری : تشتک بافی#}
{#                                </h5>#}
{#                            </a>#}
{##}
{#                            <div class="meta" style="font-family: VezFont; align-content: center; margin: 8px">#}
{#                                <span class="date">آخرین بازدید : 2 ساعت پیش</span>#}
{#                            </div>#}
{##}
{#                        </div>#}
{##}
{##}
{#                        <div class="extra">#}
{#                            امتیاز دهید :#}
{#                            <div class="ui left aligned massive star rating" data-rating="4" data-max-rating="5" style="margin-right: 30px"></div>#}
{#                        </div>#}
{##}
{#                        <script>        $(function () {#}
{#                            $('.ui.rating').rating();#}
{##}
{#                        });#}
{#                        </script>#}
{##}
{#                    </div>#}
                </div>


            </div>


        </div>


{% endblock %}