{% extends "institute_profile_base.html" %}

{% load static %}

{% load filter_skill %}

{% load convert_date %}

{% block is_active_cash_requirement %}active{% endblock %}

{% block add_content %}
    <div class="ui bottom attached segment" style="background-color: rgba(243, 244, 245); width: 1500px;">

        <div class="ui container" style="margin-top: 100px; width: 1300px; margin-bottom: 100px">

            <h3>
                پروژه های نقدی به شرح زیر هستند
            </h3>

            <br><br>

            {% for cash_requirement in member.institute.cash_requirements.all %}

                <div class="ui teal segment" style="width: 1300px;">


                    <div class="ui middle aligned stackable grid">

                        <div class="ten wide column" >

                            <a href="{% url "cash_requirement_profile" pk=cash_requirement.pk %}">
                                <h4 style="margin-right: 40px; margin-top: 20px; line-height: 35px;">
                                    عنوان پروژه :
                                    {{ cash_requirement.title }}
                                </h4>
                            </a>

                            <br>

                            <h4 style="margin-right: 40px;">
                                درباره‌ی پروژه :
                            </h4>

                            <h5 style="margin-right: 40px;">
                                این پروژه برای کمک رسانی به افراد بدسرپرست ساخته شده است.
                            </h5>

                            <br>

                            <h5 style="margin-right: 40px">
                                سقف بودجه‌ی مورد نیاز :
                                {{ cash_requirement.fund }}
                                تومان
                            </h5>

                            <h5 style="margin-right: 40px">
                                بودجه‌ی تامین شده :
                                {{ cash_requirement|get_total_donation }}
                                تومان
                            </h5>

                            <br><br>

                            {% if user.is_benefactor %}
                                <button class="ui big teal button" id="donation_button_{{ cash_requirement.pk }}" style="margin-right: 50px">
                                    در تامین این پروژه ی خیرخواهانه سهیم شوید !
                                </button>

                                <script>
                                    $('#donation_button_{{ cash_requirement.pk }}').click(function() {
                                        $('#donation_modal_{{ cash_requirement.pk }}')
                                            .modal('show')
                                            ;
                                    });
                                </script>

                                <div class="ui small center aligned modal" style=" background-color: rgba(243, 244, 245); bottom: auto; top: auto; right: auto; left: auto; width: 600px; height: auto;" id="donation_modal_{{ cash_requirement.pk }}">

                                    <div class="content" style="text-align:right">

                                        <form id="help_{{ cash_requirement.pk }}" method="post" action="/requirements/help/{{ cash_requirement.pk }}/">
                                        {% csrf_token %}

                                            <p style="width:100%">

                                                <h4 style="text-align: right;">مبلغ کمک نقدی مورد نظر خود را وارد کنید</h4>

                                                <br><br>

                                                <div class="ui massive input" style="width:100%;max-height:10vh">
                                                    <input type="number" name="amount" id="id_amount" placeholder="مبلغ را به تومان وارد نمایید" style="width:100%;height:90%;margin:auto;text-align:right;font-family:'VezFont';max-height:10vh">
                                                </div>

                                            </p>


                                        </form>

                                    </div>


                                    <div class="actions">

                                        <button class="ui teal big button" id = "accept_button_donation_{{ cash_requirement.pk }}">تایید و انتقال به صفحه‌ی پرداخت</button>
                                        <button class="ui red big button" id = "cancel_button_donation_{{ cash_requirement.pk }}">انصراف</button>
                                        <script>
                                            $('#cancel_button_donation_{{ cash_requirement.pk }}').click(function() {
                                                $('#donation_modal_{{ cash_requirement.pk }}')
                                                    .modal('hide')
                                                    ;
                                            });
                                        </script>
                                        <script>
                                            $('#accept_button_donation_{{ cash_requirement.pk }}').click(function() {
                                                $('#help_{{ cash_requirement.pk }}')
                                                    .submit()
                                                    ;
                                            });
                                        </script>

                                    </div>

                                </div>


                            {% else %}

                                <button class="ui big teal disabled button" style="margin-right: 50px">
                                    در تامین این پروژه ی خیرخواهانه سهیم شوید !
                                </button>

                            {% endif %}

                            <br><br>

                            {% if user.is_authenticated %}
                                {% if user.username == member.username %}

                                    <div class="ui teal segment" style="width: 650px; margin-right: 40px; margin-bottom: 20px;">

                                        <script>
                                            $(function () {
                                                $('.ui.accordion')
                                                    .accordion('close', 0)
                                                ;
                                            });
                                        </script>

                                        <div class="ui centered accordion" >

                                            <div class="title" style="font-size: 16px">

                                                <i class="dropdown teal icon"></i>
                                                <a style="color: teal">
                                                    مشاهده‌ی جزییات ۵ تراکنش آخر
                                                </a>

                                            </div>


                                            <div class="content">

                                                {% for help_cash in cash_requirement.helps.all|sort_by:'-date_donated' %}
                                                    {% if forloop.counter0 < 5 %}
                                                        <div class="ui
{#                                                         {% cycle 'teal' 'blue' %}
                                                         message">

                                                            <h6>
                                                                <a style="color: purple" href="/profile/{{ help_cash.benefactor.member.username }}">
                                                                    {{ help_cash.benefactor.member.first_name }}
                                                                    {{ help_cash.benefactor.member.last_name }}
                                                                </a>
                                                                {{ help_cash.date_donated|get_datetime_relative_str }}
                                                                 مبلغ
                                                                {{ help_cash.amount }}
                                                                تومان به حساب این پروژه کمک کرد.
                                                            </h6>

                                                        </div>

                                                    {% endif %}
                                                {% endfor %}

                                            </div>

                                        </div>
                                    </div>

                                {% endif %}
                            {% endif %}

                        </div>

                        <div class="six wide column">


                            <br><br>

                            <center>

                                <img class="ui medium rounded image" src="/image/{{ cash_requirement.avatar }}"
                                     style="margin-top: 3px; align-items: center"></img>

                            </center>

                            <br>

                            <div class="ui active teal big progress" data-percent="{{ cash_requirement|get_total_donation|divide:cash_requirement.fund }}"
                                 id="example_{{ cash_requirement.pk }}"
                                 style="width: 350px; height: 40px; margin-right: 60px">

                                <div class="bar" style="height: 200px; align-items: center">
                                    <div class="progress" style="color: #0f0f10; "></div>
                                    <center>
                                        <br>
                                        میزان تامین پروژه : {{ cash_requirement|get_total_donation|divide:cash_requirement.fund }}%
                                    </center>
                                </div>
hi
                                <div class="label" style="height: 100px">Uploading Files</div>


                            </div>

                            <script>
                                $(function () {
                                    $('#example_{{ cash_requirement.pk }}')
                                        .progress({})
                                    ;
                                });
                            </script>

                        </div>

                    </div>


                </div>

                <br><br>

            {% endfor %}

            {% if user.is_authenticated %}
                {% if user.username == member.username %}
                    <a href="{% url "create_cash_requirement" %}">
                        <button class="ui huge green button">
                            <i class="ui plus icon"></i>
                            اضافه کردن نیاز نقدی جدید
                        </button>
                    </a>
                {% endif %}
            {% endif %}

        </div>


    </div>
{% endblock %}