{% extends "base.html" %}

{% load static %}

{% block title %}{{ member.username }}'s profile{% endblock %}

{% block content %}
    <section>
        <div class="ui container">

            <div class="ui items">
                <div class="item">
                    <a class="ui medium circular image" style="margin-left: 100px">
                        <img src="/image/{{ member.avatar }}">
                        <br>
                        <center>
                            <div class="ui center aligned massive star rating" data-rating="4" data-max-rating="5"></div>
                            <p>آنلاین</p>
                        </center>
                    </a>
                    <div class="content">
                        <h1 style="font-family: VezFont">{{ member.first_name }}</h1>

                        {% if member.bio %}

                        <h3> درباره‌ی موسسه : </h3>


                        <p>
                            {{ member.bio }}
                        </p>
                        {% endif %}

                        <br>

                        <h4>توانایی های مورد نیاز: </h4>

                        <p>
                            حمال، برنامه‌نویس ، نجار ، منشی ، گرافیک کار ، جاروکش
                        </p>

                        <br>
                        <button class="ui primary huge button" onclick="ui.modal" id="request_button">ارسال درخواست همکاری</button>
                        <script>
                            $('#request_button').click(function() {
                                $('.ui.modal')
                                    .modal('show')
                                    ;
                            });
                        </script>
                        <div class="ui modal" style="text-align:right;">
                            <div class="header" style="text-align:right">درخواست</div>
                            <div class="content" style="text-align:right">
                                <p style="width:100%">
                                    <div class="ui input" style="width:100%">
                                        <input type="text" placeholder="توضیحات" style="width:100%;height:100px;margin:auto;text-align:right;font-family:'VezFont'">
                                    </div>
                                </p>
                            </div>
                            <div class="actions">
                                <div class="ui primary button">ثبت</div>
                                <div class="ui button">لغو</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <div class="ui very relaxed middle aligned stackable grid">
                <div class="eight wide column">
                    <h3>درخواست‌های موسسات : </h3>
                    <br>

                    <div class="ui items">
                        <div class="item" style="margin-bottom: 10px">
                            <a class="ui small circular image" style="margin-left: 10px">
                                <img src="{% static "img/avatar3.png" %}">
                            </a>
                            <div class="content">
                                <a class="header" style="font-family: VezFont">امیررضا مزینی</a>
                                <div class="description">
                                    <p>
                                        مورد درخواست : درخواست استخدام به عنوان حمال
                                    </p>
                                    <p>
                                        توضیحات : بنده همیشه آرزو داشتم در شرکت شما حمالی کنم.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="margin-bottom: 10px">
                            <a class="ui small circular image" style="margin-left: 10px">
                                <img src="{% static "img/avatar14.png" %}">
                            </a>
                            <div class="content">
                                <a class="header" style="font-family: VezFont">محبوبه محمدی</a>
                                <div class="description">
                                    <p>
                                        مورد درخواست : درخواست استخدام به عنوان نجار
                                    </p>
                                    <p>
                                        توضیحات : لطفا مرا به عنوان نجار قبول کنین. رزومم خیلی خوبه !.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="eight wide column">
                    <h3>درخواست‌های پذیرفته شده : </h3>
                    <br>

                    <div class="ui items">
                        <div class="item" style="margin-bottom: 10px">
                            <a class="ui small circular image" style="margin-left: 10px">
                                <img src="{% static "img/school.png" %}">
                            </a>
                            <div class="content">
                                <a class="header" style="font-family: VezFont">آرین تاجمیرریاحی</a>
                                <div class="description">
                                    <p>
                                        مورد درخواست : درخواست استخدام به عنوان یدک کش C
                                    </p>
                                    <p>
                                        توضیحات : اگر منو استخدام کنین می تونم به تنهایی همه‌ی یدک های شرکت رو بکشم..
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}